aniso8601==4.0.1
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
blinker==1.4
Click==7.0
coverage==4.5.2
enum34==1.1.6
Flask==1.0.2
Flask-Mail==0.9.1
Flask-RESTful==0.3.6
flask-restplus==0.12.1
funcsigs==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
psycopg2==2.7.6.1
py==1.7.0
pycodestyle==2.4.0
PyJWT==1.7.1
pytest==4.0.1
pytest-cov==2.6.0
python-dotenv==0.9.1
pytz==2018.7
scandir==1.9.0
six==1.11.0
Werkzeug==0.14.1
