aniso8601==4.1.0
atomicwrites==1.2.1
attrs==18.2.0
CacheControl==0.12.5
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
coverage==4.5.2
firebase-admin==2.15.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.7
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.13.2
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
grpcio==1.18.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==5.0.0
msgpack==0.6.1
pluggy==0.8.1
protobuf==3.6.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
py==1.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyJWT==2.4.0
pytest==4.1.1
pytest-cov==2.6.1
python-dotenv==0.10.1
pytz==2018.9
requests==2.21.0
rsa==4.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.3
