@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-Medium.ttf");
  }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
}
 body{
  font-family: 'Raleway', sans-serif;
  background-color: #e6e6e6;
}
 .navbar {
  font-size: 18px;
  background-color: #333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
 .main-nav{
  list-style-type: none;
  display: none;
}
a {
  text-decoration: none;
  outline: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
}
button:hover{
  cursor:pointer;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.container2 a:visited{
  color:#0b47b6;
}
 .nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
 .main-nav li {
  text-align: center;
  margin: 15px auto;
}
 .logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
 .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
 .active {
  display: block;
}
.signin-link{
  border: 2px solid #2D49FF;
  padding: 0 5px 0 5px;
  border-radius: 5px
}
.active {
  color:  dodgerblue;
  padding: 0 5px 0 5px;
  border-radius: 5px
}
.logout-button {
  background: none;
  border: none;
  /* margin-left: 40px; */
  padding: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.logout-button:hover i{
  color: #296de8
}
/* Centered text */

.centered p , .centered h1{
  color:black;
  padding:5px;
}
 @media screen and (min-width: 768px) {
  .logout-button {
    margin-left: 40px;
  }   
  .truncate {
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
   .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
   .main-nav li {
    margin: 0;
  }
   .nav-links {
    margin-left: 40px;
  }
   .logo {
    margin-top: 0;
  }
   .navbar-toggle {
    display: none;
  }
   .logo:hover,
  .nav-links:hover {
    color: dodgerblue;
  }
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered p , .centered h1{
  color:white;
}
   /* Top left text */
  .top-left {
      position: absolute;
      top: 1.5em;
      left: 1.5em;
  }
   /* Top right text */
  .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
  }
   /* Bottom right text */
  .bottom-right {
      position: absolute;
      bottom: 5em;
      right: 1.5em;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .column-50 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .column-100 {
    width: 100%;
    padding: 10px;
  }
  .column-100 p, .column-100 h4{
    padding:5px;
  }
  .login-box{
    width: 60%;
  }
  .container-name{
    width: 100%;
  }
  .container-name-right, .container-name-left{
    width: 50%;
    float:left;
    padding:5px
  }   
  .container-name p{
    text-align: left
  } 
  .forgot-password{
    width: 60%;
    background: white;
    top:35%;
    color: #fff;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 30px;
  }
  .contact-form{
    display: table;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
    background: white;
    padding: 40px 30px;
  }
}
 /*responsive image class*/
.responsive {
    width: 100%;
    height: auto;
}
 /* Container holding the image and the text */
.container ,.container-main{
    position: relative;
    text-align: center;
    color: white;
    max-width: 1650px;
    margin: 0 auto;
}
.container-authenticate{
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
}
.incident-header, .user-console{
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: white;
}
#incident-data,#user-data{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  background:white;
}
.incident-line{
  width:95%;
  margin:4px auto;
  color:#e6e6e6;
}
.info-header{
  width: 100%;
  overflow: hidden;
  display: block;
  padding:8px; 
  background-color: white;
}
.info-header h2{
  text-align: center;
  font-size: 1.2em;
}
.top-buttons,.search-bar{
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 4px auto;
  /* position: relative; */
  background-color: white;
  /* padding: 8px; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}
.button-left{
  width:30%;
  float: left;
  text-align: left;
}
.button-right{
  width:70%;
  float: left;
  padding-top: 15px;
  padding-right:4px;
}
 @media screen and (max-width: 767px) {
  .main-nav li {
    border-top: 1px solid #4d4d4d;
    padding-top:10px;
  }
  .top-left h2, .bottom-right h3{
    color: #296de8
  }
   .bottom-right h3, .top-left h2 {
    color: rgba(0, 0, 0, 0.5);
  }
  .login-box{
    width: 100%;
    margin-top: 2.2em;
  }
  .column {
    float: left;
    width: 100%;
    padding: 5px;
  }
  
  .column-50 {
    float: left;
    width: 100%;
    padding: 5px;
  } 
  .top-buttons{
    width: 100%;
    overflow: hidden;
  }
  .button-left{
    width:25%;
    float: left;
    text-align: left;
  }
  .button-right{
    width:75%;
    float: left;
    padding-top: 15px;
    padding-right:4px;
  }  
  .mobile-hidden{
    display: none;
  }
  .wrapper-index {
    min-height: 100%;
    }
 }
 @media screen and (max-width: 539px) {
  .button-left{
    width:50%;
    float: left;
    text-align: left;
  }
  .button-right{
    width:50%;
    float: left;
    padding-top: 15px;
    padding-right:4px;
  }    
}
 @media screen and (max-width: 400px) {
  .login-box{
    width: 100%;
    margin-top: 4.5em;
  }     
}
@media screen and (max-width: 307px) {
  .button-left{
    width:55%;
    float: left;
    text-align: left;
  }
  .button-right{
    width:45%;
    float: left;
    padding-top: 15px;
    padding-right:4px;
  }  
}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
}
.footer ul {
  list-style-type: none;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer ul li a:hover{
  color: #2D49FF;
}
.footer li {
  float: left;
}
.container-login{
    margin: 0;
    padding: 0;
    background: url(../img/bg-main.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    /* width: 60%;      */
    background: #000;
    top:50%;
    color: #fff;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;

}
.avatar {
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1{
  color:#737373;
  margin:0;
  padding: 5px 0 10px;
  text-align: center;
  font-size: 18px;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
  font-size: 1.0em;
}
.login-box input{
  width: 100%;
  margin-bottom: 12px;
  padding: 4px;
}
.login-box input[type=text], .login-box input[type=password], .login-box input[type=email] {
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color:#fff;
  font-size: 16px;
}
.login-box input[type=submit]{
  border: none;
  outline: none;
  height: 40px;
  background: #20a0ff;
  color:#fff;
  width: 50%;
}
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
.login-box input[type=submit]:hover{
  cursor: pointer;
  outline: none;
  height: 40px;
  background: #296de8;
  color:#000;
}  
.card {
  /* Add shadows to create the "card" effect */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card img{
width:85%;
}
.card h1{
color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  background-color: #f2f2f2;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.fa-power-off{
  color:red;
}
.black{
color:black;
}
.red{
color:red;
}
p{
color:black;
}
.italic {
  font-style: italic;
}
#incident-data h2,#user-data h2{
  color:rgb(143, 143, 143);
}
#incident-data h2,h3,h4{
  color:rgb(153, 153, 153);
}
#incident-data p, #user-data p{
  color:rgb(103, 103, 103);
}
/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.modal-header h5{
  color:gray;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #c0392b;
text-decoration: none;
cursor: pointer;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color:rgb(103, 103, 103);
}
td:first-child {
  color: black;
  font-weight: bold;
}

.table-responsive{
overflow-x:auto;
}
.table-responsive th{
  color: #296de8;
}
.button-modal,.button-normal {
background-color: #296de8;
border: none;
color: white;
padding: 16px 16px;
margin: 30px auto;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin:8px;
border-width: 0;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
transition: background-color .3s;
}

.button-modal:hover,.button-normal:hover,.button-modal:focus,.button-normal:focus{
  background-color: #0b47b6;
}

.modal-form input[type=text],.modal-form select,.modal-form textarea,.modal-form input[type=file],.modal-form input[type=date], .modal-form input[type=password], .modal-form input[type=email] {
width: 100%;

display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.modal-form input[type=password] {
  width: 50%;
  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
.modal-form input[type=text], .modal-form textarea, .modal-form input[type=file], .modal-form input[type=date], .modal-form input[type=password], .modal-form select, .modal-form input[type=email]{
  padding: 12px;
}

input[type=submit] {
background-color: #2ecc71;
color: #ecf0f1;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
transition: background-color .3s;
}

input[type=submit]:hover,input[type=submit]:focus {
  background-color: #27ae60;
  color:silver;
}

input[type=reset] {
  background-color: #f2f2f2;
  color: #595959;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  transition: background-color .3s;
  }
input[type=reset]:hover,input[type=reset]:focus {
  background-color: #bfbfbf;
}
#profilePhoto{
  padding-top: 10px;
}
#uploadProfilePic input[type=file]{
  color:black;
}
form p{
font-weight: bold;
}

/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #2D49FF;;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #296de8;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

.tabcontent h2{
  color: #20a0ff;
  padding: 8px;
}

.wrapper {
min-height: 100%;
}
.footer,
.push {
height: 50px;
}
.push-color{
  background-color: #404040;
}
.align-justify{
text-align: justify;
}
.bg-color{
overflow: hidden;
background-color: #fff;
}
.danger{
  background-color: #e74c3c;
}
.danger:hover,.danger:focus{
  background-color: #c0392b;
}
.orange {
  background-color: #e67e22;
}

.orange:hover, .orange:focus {
  background-color: #d35400;
}
.container2{
padding: 12px;
}
.justify{
  text-align: justify;
}
.about{
text-align: justify;
}
.modal-form p{
padding:8px;
}
.fa-spin{
  color: #27ae60;
}
.fa-circle-o-notch{
  font-size: 24px;
}
#fa-spin, #fa-spin-data-delete, #fa-spin-edit, #fa-spin-edit-status, #fa-spin-upload,#fa-spin-search, .hide{
  display: none;
}
#fa-spin-data-delete{
  color: #ff3333
}
#error-message, #edit-message, #edit-message-2, #status-message{
  font-size: 0.8em;
  color: #ff3333
}
#locationArea{
  padding:8px;
  color:#0b47b6;
  border-bottom: 1px solid silver;
}
.left{
  float: left
}
.right{
  float: right;
}
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}
.align-center{
  text-align: center;
}
.theme-blue{
  color:#0b47b6;
}
.silver{
  color:silver;
}
.silver:hover{
  color:gray;
}
.gray{
  color:#404040;
}
.gray:hover{
  color:dodgerblue
}
span.theme-blue:hover{
  color:dodgerblue;
}
p.comment-data-item{
  text-align: justify;
  color:#0b47b6 !important; 
  padding:5px
}
.module-link{
  color:#595959;
  text-transform: lowercase;
}
.module-link:hover{
  color:dodgerblue;
}
#main-image, #main-video, .main-video, .main-image{
  width:100%;
}
p.img-details,p.vid-details{
  padding:10px 0 0 0;
}
.font-small{
  font-size: 12px;
}
.clearfix::after{
  content: "";
  display:table;
  clear: both;
}
.footer ul li a {
  padding: 5px;
}
.btnOwner{
  display: none;
}

.search-data{
  background-image: url('../img/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 10px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border:none;
  border-bottom: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
/* Pagination */
.pagination {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: white;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}
.pagination .tableList {
    /* min-height: 250px; */
    text-indent: 20px;
}
.tableList .objectBlock {
    position: relative;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.pageButton {
    border: 1px solid #ddd;
    padding: 8px 16px;
}
span.pageButton:hover{
  color: #595959;
  border: 1px solid #b3b3b3;
}
.page-number{
  color: dodgerblue;
}
.clickPageNumber {
    background-color: lightgrey;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
.pagination-block {
  text-align: center;
  width: 100%;
}
.pagination-block span {
  display: inline-block;
}
.pagination-block .pageButton {
  color: #808080;
}
.pagination-block span:hover {
  cursor: pointer;
}
.opacity {
  opacity: 0.5;
}
.outline-none {
  outline: none;
  user-select: none; 
}
.per-page{
  color:#737373;
  /* font-size: 0.9em; */
}
.pagination span{
  font-size: 0.95em;
}
select#perPage{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
  background-position: 97% center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  /* color: #555; */
  font-size: inherit;
  margin:0 20px 0 0;
  padding: 5px 10px;
}
select#perPage {
  outline: none;
}

select#perPage:focus {
  outline: none;
}

select#perPage:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.search-bar{
  overflow: hidden;
}
.search-bar-left{
  float: left;
  width: 75%;
  margin-top:12px;
  margin-left:5px;
}
.search-bar-right{
  float: right;
  width: 15%;
  max-width: 50px;
}

#loader {
  position: fixed;
  left: 58%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid dodgerblue;
  border-bottom: 8px solid dodgerblue;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #296de8;
  opacity: 0.8;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#toTop:hover {
  background-color: #0b47b6;
  opacity: 1.0;
}
.blocked{
  opacity: 0.4;
}